@page
@model StudentManager.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].IsMandatory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].DeletedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMandatory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedOn);
            </td>
            <td>
                @if (item.DeletedOn == null)
                {
                    <text>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </text>
                }
            </td>
        </tr>
}
    </tbody>
</table>
